@import 'core/settings';

.page {
  display: flex;
  padding: 0 60px 20px;
}

.header {
  &_title {
    margin-bottom: 30px;
    font-size: 25px;
    margin-top: 50px;
  }
}

.search_container {
  display: flex;
  flex-direction: row;
}

.js-input {
  border: none;
  border-bottom: 2px solid grey;
  display: flex;
  font-size: 16px;
  margin-right: 3px;
}

.js-search_btn {
  background-color: $color-redviolet;
  color: $color-white;
  padding: 7px 12px;
  border: none;
  font-size: 16px;
  font-family: monospace;
  cursor: pointer;
}

.shows_fav {
  background-color: rgb(230, 128, 213);
  color: rgb(246, 213, 231);
  margin: 20px 10px 0 0;
  display: inline-block;
  width: 85%;
  padding: 15px;
  text-align: center;
  list-style: none;
}

.result_shows {
  background-color: rgb(246, 213, 231);
  color: rgb(230, 128, 213);
  display: flex;
  flex-wrap: wrap;
  margin: 10 0 0 30px;
  padding: 20px;
  list-style: none;
  justify-content: space-between;
  text-transform: capitalize;
  font-family: monospace;
}

.fav_list {
  margin-top: 30px;
  display: inline-block;
  width: 300px;
  font-size: 20px;
  text-transform: capitalize;
  font-family: monospace;
}

.show_info {
  h3 {
    text-align: center;
  }
}

.remove_fav {
  background-color: #3d3080;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: white;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
