<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Evaluación final M2 - Ana Amaro</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <div class="page">

    <header class="header">
      <h1 class="header_title">Buscador de series</h1>
      <label for="input">
        <input type="text" id="input">
        <button class="search_button">Search</button>
      </label>
    </header>

    <main class="main">
      <ul class="tv_shows"></ul>
    </main>
  </div>
  <script src="assets/js/main.js"></script>
</body>

</html>